.container {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  border-left: #bbbbbb;
  border-top: #ffffff;
  padding: 2rem;
  .head {
    text-align: center;
    margin-top: 1rem;
    p {
      margin-bottom: 1rem;
    }
  }

  h2 {
    border-bottom: 2px solid #1c4587;
    margin-bottom: 2rem;
  }
  div {
    margin-bottom: 2rem;
  }
}

@media (min-width: 880px) {
  .container {
    padding: 4rem 2rem;
    .head {
      text-align: initial;
      margin-top: initial;
    }
  }
}
