.container {
  background-color: #1c4587;
  padding-top: 3rem;
  border-right: 1px solid #3a598b;
  height: 100%;
}



.menu {
  margin-top: 3rem;
}

.socials {
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  svg {
    margin: 4rem 1rem;
    color: white;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.menu_elem {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 2vw;
  padding: 1rem;
  text-align: end;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
