@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.textTitle {
  line-height: 38px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.text {
  line-height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

body {
  font-family: 'Montserrat', sans-serif;
}
